# Note: this is the list of dependencies that should be installed for the project.
# It is recommended to install these in a Miniconda/Anaconda environment with Python 3.10.

black  # code formatting
comet_ml  # visualization/logging
deepdiff  # generic data manipulation utility
deeplake==3.8.25  # i/o library for activeloop datasets
einops  # to simplify some tensor ops
flake8  # code formatting
flake8-docstrings  # code formatting
gitpython  # for git i/o and hash tagging
hydra-colorlog~=1.2  # configuration/logging
hydra-core~=1.3  # configuration/logging
isort  # code formatting
jupyter  # for data exploration notebooks
levenshtein  # for string matching
lightning~=2.4.0  # pytorch training helper
lxml  # used to parse abbyy's xml outputs
lz4  # data compression
matplotlib  # visualization/logging
nbstripout  # code formatting
numpy  # generic data processing utility
openai
opencv-python  # generic image processing utility
pandas  # used to read/write some simple tabular data
peft  # efficient training of LLMs
Pillow~=9.3  # basic image i/o + processing
plotly
pre-commit==3.6.2  # code formatting and static analysis
pymupdf  # "fitz", used for PDF parsing
pytest  # testing
pyyaml  # configuration/logging
rich  # better text formatting
rootutils  # tooling for python proj
setuptools  # package install tool
sentence_transformers
tensorboard  # visualization/logging
thefuzz  # for fuzzy string matching
tokenizers  # string encoding (part of hugginface)
torch~=2.1  # deep learning backbone
torchmetrics~=1.2  # model evaluation
torchvision~=0.16  # model architectures + data utilities
transformers  # model architectures (huggingface)
tqdm  # logging and progress bars
umap-learn
wandb  # visualization/logging
